In [94]:
import pandas as pd
import numpy as np

## Data Clean and Concat

In [95]:
first = pd.read_csv('../data/combined/FIRST_WISE_SDSS_DR12.csv') ##glikman
spies = pd.read_csv('../data/raw/SpIES_WISE_SDSS_DR12_corrected.csv') ##teddy

In [96]:
spies.columns

Index(['counter', 'RA', 'DEC', 'G_MAG_AB', 'R_MAG_AB', 'Y_MAG_AB', 'J_MAG_AB',
       'H_MAG_AB', 'K_MAG_AB', 'ch1_mag', 'ch2_mag', 'gj', 'rj', 'jk', 'rk',
       'Fpk', 'Hpk', 'redshift', 'specObjID', 'class', 'JNAME', 'ra_x',
       'dec_x', 'errHalfMaj', 'errHalfMin', 'errPosAng', 'W1mag', 'W2mag',
       'W3mag', 'W4mag', 'Jmag', 'Hmag', 'Kmag', 'e_W1mag', 'e_W2mag',
       'e_W3mag', 'e_W4mag', 'e_Jmag', 'e_Hmag', 'e_Kmag', 'cntr', 'cc_flags',
       'ext_flg', 'var_flg', 'ph_qual', 'r_2mass', 'angDist', 'RAdeg', 'DEdeg',
       'errHalfMaj_x', 'errHalfMin_x', 'errPosAng_x', 'objID', 'mode',
       'q_mode', 'class_x', 'SDSS12', 'm_SDSS12', 'flags', 'ObsDate', 'Q',
       'umag', 'e_umag', 'gmag', 'e_gmag', 'rmag', 'e_rmag', 'imag', 'e_imag',
       'zmag', 'e_zmag', 'zsp', 'e_zsp', 'f_zsp', 'zph', 'e_zph', 'avg_zph',
       'pmRA', 'e_pmRA', 'pmDE', 'e_pmDE', 'SpObjID', 'spType', 'spCl',
       'subClass', 'angDist_x'],
      dtype='object')

In [97]:
count_class = pd.DataFrame(spies['class'].value_counts()).reset_index()
count_class.rename(columns = {'index' : 'class_cleaned','class_cleaned':'occ'},inplace = True)
count_class

   class_cleaned  class
0           none    155
1            QSO     21
2              ?     20
3             ??     20
4           QSO?      5
5            AGN      2
6        QSO/AGN      2
7       weak-det      2
8          QSO??      1
9           NL??      1
10         NLAGN      1
11          star      1

In [98]:
first['data'] = 'Glikman'
spies['data'] = 'Teddy'

In [99]:
first_c = first.drop(columns = ['errHalfMaj',
       'errHalfMin', 'errPosAng','errHalfMaj_x', 'errHalfMin_x', 'errPosAng_x',
                      'e_umag','e_gmag','e_rmag','e_imag','e_zmag','e_zsp', 'e_zph',
                     'e_pmRA','e_pmDE','RAdeg', 'DEdeg'])

spies_c = spies.drop(columns = ['ra_x',
       'dec_x', 'errHalfMaj', 'errHalfMin', 'errPosAng','e_W1mag', 'e_W2mag',
       'e_W3mag', 'e_W4mag', 'e_Jmag', 'e_Hmag', 'e_Kmag','RAdeg', 'DEdeg',
       'errHalfMaj_x', 'errHalfMin_x', 'errPosAng_x', 'e_umag','e_gmag','e_rmag','e_imag','e_zmag','e_zsp', 'e_zph',
                     'e_pmRA','e_pmDE','W1mag', 'W2mag'])

In [100]:
first_c.rename(columns ={'ra_u':'RA','dec_u':'DEC','Jmag':'J_mag','Kmag':'K_mag','Class':'class'},inplace = True)

In [101]:
spies_c.rename(columns = {'G_MAG_AB':'G_mag','R_MAG_AB':'R_mag', 'Y_MAG_AB':'Y_mag', 'J_MAG_AB':'J_mag',
       'H_MAG_AB':'H_mag', 'K_MAG_AB':'K_mag','ch1_mag':'W1mag','ch2_mag':'W2mag'},inplace = True)

In [102]:
f_s = pd.concat([spies_c,first_c])

In [103]:
f_s_c = f_s.drop(columns = ['Y_mag','H_mag','Jmag', 'Hmag', 'Kmag','ext_flg','r_2mass',
                   'zsp', 'f_zsp', 'zph', 'avg_zph','pmRA', 'pmDE', 'angDist_x','fpeak_u','fint_u','rmag','gmag'])

In [104]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [105]:
f_s_c = f_s_c.rename(columns = {'umag':'U_mag','imag':'I_mag','zmag':'Z_mag'})

In [106]:
f_s_c = f_s_c[['counter', 'RA', 'DEC', 'U_mag','G_mag', 'R_mag', 'I_mag', 'Z_mag','J_mag', 'K_mag', 'W1mag', 'W2mag','gj', 'rj',
       'jk', 'rk', 'Fpk', 'Hpk', 'redshift', 'specObjID', 'class', 'JNAME',
       'W3mag', 'W4mag', 'cntr', 'cc_flags', 'var_flg',
       'ph_qual', 'angDist', 'objID', 'mode', 'q_mode', 'class_x', 'SDSS12',
       'm_SDSS12', 'flags', 'ObsDate', 'Q',  
       'SpObjID', 'spType', 'spCl', 'subClass', 'data', 'designation',
       'spectrum']]

In [107]:
f_s_c.columns

Index(['counter', 'RA', 'DEC', 'U_mag', 'G_mag', 'R_mag', 'I_mag', 'Z_mag',
       'J_mag', 'K_mag', 'W1mag', 'W2mag', 'gj', 'rj', 'jk', 'rk', 'Fpk',
       'Hpk', 'redshift', 'specObjID', 'class', 'JNAME', 'W3mag', 'W4mag',
       'cntr', 'cc_flags', 'var_flg', 'ph_qual', 'angDist', 'objID', 'mode',
       'q_mode', 'class_x', 'SDSS12', 'm_SDSS12', 'flags', 'ObsDate', 'Q',
       'SpObjID', 'spType', 'spCl', 'subClass', 'data', 'designation',
       'spectrum'],
      dtype='object')

## Color Features

u,g,r,i,z,j,k, w1,w2

In [108]:
f_s_c['ug'] = f_s_c['U_mag'] - f_s_c['G_mag']
f_s_c['ur'] = f_s_c['U_mag'] - f_s_c['R_mag']
f_s_c['ui'] = f_s_c['U_mag'] - f_s_c['I_mag']
f_s_c['uz'] = f_s_c['U_mag'] - f_s_c['Z_mag']
f_s_c['uj'] = f_s_c['U_mag'] - f_s_c['J_mag']
f_s_c['uk'] = f_s_c['U_mag'] - f_s_c['K_mag']
f_s_c['uw1'] = f_s_c['U_mag'] - f_s_c['W1mag']
f_s_c['uw2'] = f_s_c['U_mag'] - f_s_c['W2mag']

f_s_c['gr'] = f_s_c['G_mag'] - f_s_c['R_mag']
f_s_c['gi'] = f_s_c['G_mag'] - f_s_c['I_mag']
f_s_c['gz'] = f_s_c['G_mag'] - f_s_c['Z_mag']
f_s_c['gj'] = f_s_c['G_mag'] - f_s_c['J_mag']
f_s_c['gk'] = f_s_c['G_mag'] - f_s_c['K_mag']
f_s_c['gw1'] = f_s_c['G_mag'] - f_s_c['W1mag']
f_s_c['gw2'] = f_s_c['G_mag'] - f_s_c['W2mag']

f_s_c['ri'] = f_s_c['R_mag'] - f_s_c['I_mag']
f_s_c['rz'] = f_s_c['R_mag'] - f_s_c['Z_mag']
f_s_c['rj'] = f_s_c['R_mag'] - f_s_c['J_mag']
f_s_c['rk'] = f_s_c['R_mag'] - f_s_c['K_mag']
f_s_c['rw1'] = f_s_c['R_mag'] - f_s_c['W1mag']
f_s_c['rw2'] = f_s_c['R_mag'] - f_s_c['W2mag']

f_s_c['iz'] = f_s_c['I_mag'] - f_s_c['Z_mag']
f_s_c['ij'] = f_s_c['I_mag'] - f_s_c['J_mag']
f_s_c['ik'] = f_s_c['I_mag'] - f_s_c['K_mag']
f_s_c['iw1'] = f_s_c['I_mag'] - f_s_c['W1mag']
f_s_c['iw2'] = f_s_c['I_mag'] - f_s_c['W2mag']


f_s_c['zj'] = f_s_c['Z_mag'] - f_s_c['J_mag']
f_s_c['zk'] = f_s_c['Z_mag'] - f_s_c['K_mag']
f_s_c['zw1'] = f_s_c['Z_mag'] - f_s_c['W1mag']
f_s_c['zw2'] = f_s_c['Z_mag'] - f_s_c['W2mag']


f_s_c['jk'] = f_s_c['J_mag'] - f_s_c['K_mag']
f_s_c['jw1'] = f_s_c['J_mag'] - f_s_c['W1mag']
f_s_c['jw2'] = f_s_c['J_mag'] - f_s_c['W2mag']

f_s_c['kw1'] = f_s_c['K_mag'] - f_s_c['W1mag']
f_s_c['kw2'] = f_s_c['K_mag'] - f_s_c['W2mag']


f_s_c['w1w2'] = f_s_c['W1mag'] - f_s_c['W2mag']

In [109]:
class_cleaned = []
for i in f_s_c['class']:
    if i == 'QSO' or i == 'QSO?' or i == 'QSO??':
        class_cleaned.append('QSO')
    elif i =='?' or i =='??':
        class_cleaned.append('?')
    else:
        class_cleaned.append(i)
        
f_s_c['class_cleaned'] = class_cleaned

In [110]:
count_class = pd.DataFrame(f_s_c['class_cleaned'].value_counts()).reset_index()
count_class.rename(columns = {'index' : 'class_cleaned','class_cleaned':'occ'},inplace = True)
count_class

   class_cleaned  occ
0           none  155
1         no_obs  124
2              ?   77
3            QSO   67
4          NLAGN    4
5            AGN    2
6        QSO/AGN    2
7       weak-det    2
8      duplicate    2
9           NL??    1
10          star    1
11        NLAGN?    1
12  NLAGN?no_obs    1
13         Starb    1

In [111]:
feature_cleaned = f_s_c[['data','RA', 'DEC', 'G_mag', 'R_mag', 'J_mag', 'K_mag','redshift','class','U_mag', 'I_mag', 'Z_mag','ug', 'ur', 'ui', 'uz', 'uj', 'uk', 'uw1', 'uw2', 'gr',
       'gi', 'gz', 'gk','gj', 'gw1', 'gw2', 'ri', 'rz', 'rj','rw1', 'rk','rw2', 'iz', 'ij',
       'ik', 'iw1', 'iw2', 'zj', 'zk', 'zw1', 'zw2', 'jw1', 'jw2', 'jk','kw1',
       'kw2', 'w1w2',
       'class_cleaned']]

In [112]:
f_s_c.to_csv('pred_data/features.csv')
feature_cleaned.to_csv('pred_data/feature_cleaned_predict.csv')

In [113]:
len(feature_cleaned)

440

## clean_class
- "none" and "no_obs" means these data points haven't have the spectral data yet

In [121]:
df_1 = pd.read_csv('pred_data/feature_cleaned_predict.csv')

In [122]:
x = df_1[(df_1['class_cleaned'] == '?') | (df_1['class_cleaned'] == 'no_obs')|(df_1['class_cleaned'] == 'none')]

In [123]:
x

,Unnamed: 0,data,RA,DEC,G_mag,R_mag,J_mag,K_mag,redshift,class,...,zk,zw1,zw2,jw1,jw2,jk,kw1,kw2,w1w2,class_cleaned
0,0,Teddy,0.06254,-0.57879,24.21090,22.27030,19.78327,18.48109,-999.0,none,...,1.29891,2.14561,2.12708,2.14888,2.13035,1.30218,0.84670,0.82817,-0.01853,none
1,1,Teddy,0.06947,0.08972,23.35760,21.67810,19.70894,18.77113,999.0,?,...,0.97187,1.72586,2.18616,1.69180,2.15210,0.93780,0.75399,1.21429,0.46030,?
2,2,Teddy,0.13417,0.69510,23.40210,21.95630,19.74063,18.79059,-999.0,none,...,2.66941,2.93589,3.01598,1.21652,1.29662,0.95004,0.26648,0.34658,0.08010,none
3,3,Teddy,0.14863,0.95460,22.57140,21.46460,19.17625,18.13377,-999.0,none,...,1.84323,2.42742,2.41270,1.62667,1.61195,1.04249,0.58419,0.56947,-0.01472,none
4,4,Teddy,0.19223,-0.53409,22.77650,21.18630,19.50100,18.53153,-999.0,none,...,1.32347,0.91050,1.14127,0.55650,0.78727,0.96946,-0.41297,-0.18220,0.23077,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433,202,Glikman,231.55827,-1.88645,22.49000,20.96700,18.51500,16.79100,0.0,no_obs,...,3.42300,4.43700,5.11800,2.73800,3.41900,1.72400,1.01400,1.69500,0.68100,no_obs
435,204,Glikman,232.72763,0.98060,21.70900,20.45700,18.67200,16.20500,0.0,no_obs,...,3.97600,5.87500,6.83300,4.36600,5.32400,2.46700,1.89900,2.85700,0.95800,no_obs
436,205,Glikman,234.15218,6.42298,22.17300,20.99600,18.51600,16.59300,-1.0,?,...,2.72600,3.82600,4.38900,3.02300,3.58600,1.92300,1.10000,1.66300,0.56300,?
437,206,Glikman,234.15163,8.96573,21.40300,19.73100,17.96900,16.19700,0.0,no_obs,...,2.41700,3.60400,4.20300,2.95900,3.55800,1.77200,1.18700,1.78600,0.59900,no_obs
439,208,Glikman,234.92323,-1.35383,20.95300,19.71800,17.55900,15.48100,0.0,no_obs,...,3.24600,4.65300,5.48400,3.48500,4.31600,2.07800,1.40700,2.23800,0.83100,no_obs

In [124]:
pred = x[['RA', 'DEC','ug', 'ur', 'ui', 'uz',
       'uj', 'uk', 'uw1', 'uw2', 'gr', 'gi', 'gz', 'gk', 'gj', 'gw1', 'gw2',
       'ri', 'rz', 'rj', 'rw1', 'rk', 'rw2', 'iz', 'ij', 'ik', 'iw1', 'iw2',
       'zj', 'zk', 'zw1', 'zw2', 'jw1', 'jw2', 'jk', 'kw1', 'kw2', 'w1w2','class_cleaned','data']]

In [125]:
pred.columns = ['RA', 'DEC','u - g', 'u - r', 'u - i', 'u - z', 'u - j', 'u - k',
       'u - ch1', 'u - ch2', 'g - r', 'g - i', 'g - z', 'g - k', 'g - j',
       'g - ch1', 'g - ch2', 'r - i', 'r - z', 'r - j', 'r - ch1', 'r - k',
       'r - ch2', 'i - z', 'i - j', 'i - k', 'i - ch1', 'i - ch2', 'z - j',
       'z - k', 'z - ch1', 'z - ch2', 'j - ch1', 'j - ch2', 'j - k', 'k - ch1',
       'k - ch2', 'ch1 - ch2','class_cleaned','data']

In [126]:
pred.to_csv('pred_data/ready_pred.csv')

In [127]:
len(pred)

356