In [2]:
from astroquery.sdss import SDSS
from astropy import coordinates as coords
from astropy.coordinates import SkyCoord
from astropy.io import ascii
from astropy import units as u

import pandas as pd

In [3]:
galaxy_table = ascii.read("../train_qso_wo_image.csv",format='csv')
ra = galaxy_table['RA']
dec = galaxy_table['DEC']

num = ra.size

In [79]:
df_petra = pd.DataFrame(columns = ['petroR50_g','petroR50_r'])

In [76]:
petra_g = []
petra_r = []

for ii in range(num):
    pos = SkyCoord(ra=ra[ii]*u.degree,dec=dec[ii]*u.degree)
    try: 
        xid = SDSS.query_region(pos,radius=2.5*u.arcsec,photoobj_fields= ['ra','dec','petroR50_g','petroR50_r'])
        petra_g.append(xid['ra'].mean())
        petra_r.append(xid['dec'].mean())
    except ValueError: 
        xid = None
        petra_g.append('N/A')
        petra_r.append('N/A')

In [80]:
df_petra['petroR50_g'] = petra_g
df_petra['petroR50_r'] = petra_r

In [81]:
df_petra

     petroR50_g  petroR50_r
0      3.806332   -0.549758
1      5.429009   -0.102034
2      9.474340   -0.864523
3     10.372834    0.133545
4     11.819024    0.380383
..          ...         ...
189  349.694026    0.857200
190  353.134655    0.472515
191  354.095060   -0.447576
192  354.824005   -0.249649
193  357.628101   -0.979123

[194 rows x 2 columns]

In [82]:
df_petra.to_csv('../petra_data.csv')