In [1]:
from astroquery.sdss import SDSS
from astropy import coordinates as coords
from astropy.coordinates import SkyCoord
from astropy.io import ascii
from astropy import units as u

import pandas as pd

In [3]:
galaxy_table = ascii.read("../combined/faint_galaxy_matched.csv",format='csv')
ra = galaxy_table['ra']
dec = galaxy_table['dec']

num = ra.size

In [4]:
df_petra = pd.DataFrame(columns = ['petroR50_g','petroR50_r'])

In [5]:
petra_g = []
petra_r = []

for ii in range(num):
    pos = SkyCoord(ra=ra[ii]*u.degree,dec=dec[ii]*u.degree)
    try: 
        xid = SDSS.query_region(pos,radius=2.5*u.arcsec,photoobj_fields= ['ra','dec','petroR50_g','petroR50_r'])
        petra_g.append(xid['ra'].mean())
        petra_r.append(xid['dec'].mean())
    except ValueError: 
        xid = None
        petra_g.append('N/A')
        petra_r.append('N/A')

In [6]:
df_petra['petroR50_g'] = petra_g
df_petra['petroR50_r'] = petra_r

In [7]:
df_petra

    petroR50_g  petroR50_r
0   270.091235    0.048302
1   270.002619    0.107195
2   269.966165   -0.105914
3   270.090574    0.070736
4   270.063953    0.096462
5   270.112337    0.048629
6   270.034748   -0.120136
7   269.942457    0.125877
8   269.939645    0.131061
9   270.043615   -0.138957
10  270.099400   -0.109154
11  270.094549   -0.117625
12  269.890975    0.106588
13  269.930859    0.142934
14  269.830495    0.004366
15  269.836390    0.118006
16  270.043262    0.198572
17  269.823794    0.103580
18  269.937604    0.201657
19  269.833051    0.139343
20  269.875202    0.179868
21  269.865624   -0.179688
22  269.770869    0.021771
23  270.070563   -0.219995
24  269.848211    0.185205
25  270.029338    0.282976
26  270.130614    0.251279
27  270.023317    0.263547
28  269.926914   -0.252262
29  269.774768    0.125874
30  269.743651    0.010941
31  270.118508    0.225679
32  269.897237   -0.232495
33  269.730235    0.133142
34  269.827889    0.181091
35  269.788285    0.129547
36  270.112128   -0.220625
37  269.948954    0.240723
38  269.948612    0.240007
39  269.829641    0.166742
40  269.923715   -0.203591
41  270.074164    0.277545
42  270.238946   -0.158643
43  270.215787    0.188835
44  270.165742   -0.232487
45  270.262140    0.124244

In [8]:
df_petra.to_csv('../galaxy_petra_data.csv')