In [8]:
from astroquery.sdss import SDSS
from astropy import coordinates as coords
from astropy.coordinates import SkyCoord
from astropy.io import ascii
from astropy import units as u

import pandas as pd

In [9]:
galaxy_table = ascii.read("../trian_qso_wo_petro.csv",format='csv')
ra = galaxy_table['RA']
dec = galaxy_table['DEC']

num = ra.size

In [10]:
df_petra = pd.DataFrame(columns = ['petroR50_g','petroR50_r'])

In [11]:
petra_g = []
petra_r = []

for ii in range(num):
    pos = SkyCoord(ra=ra[ii]*u.degree,dec=dec[ii]*u.degree)
    try: 
        xid = SDSS.query_region(pos,radius=2.5*u.arcsec,photoobj_fields= ['ra','dec','petroR50_g','petroR50_r'])
        petra_g.append(xid['ra'].mean())
        petra_r.append(xid['dec'].mean())
    except ValueError: 
        xid = None
        petra_g.append('N/A')
        petra_r.append('N/A')

In [12]:
df_petra['petroR50_g'] = petra_g
df_petra['petroR50_r'] = petra_r

In [13]:
df_petra

     petroR50_g  petroR50_r
0      3.806332   -0.549758
1      5.429009   -0.102034
2      9.474340   -0.864523
3     10.372834    0.133545
4     11.819024    0.380383
..          ...         ...
249  271.954946   -0.343585
250  270.322829   -0.611702
251  268.565668    0.079589
252  268.552731   -0.127706
253  270.497790   -0.665813

[254 rows x 2 columns]

In [14]:
df_petra.to_csv('../petra_data.csv')