In [3]:
import pandas as pd
import numpy as np

## Data Clean and Concat

In [4]:
first = pd.read_csv('../data/combined/FIRST_WISE_SDSS_DR12.csv')
spies = pd.read_csv('../data/combined/SpIES_WISE_SDSS_DR12.csv')
red_q = pd.read_csv('../data/red_qso.csv')
galaxy = pd.read_csv('../data/raw/SDSS_galaxies.csv')

In [5]:
first['data'] = 'FIRST'
spies['data'] = 'SpIES'
galaxy['data'] = 'GALAXY'

In [6]:
first_c = first.drop(columns = ['errHalfMaj',
       'errHalfMin', 'errPosAng','errHalfMaj_x', 'errHalfMin_x', 'errPosAng_x',
                      'e_umag','e_gmag','e_rmag','e_imag','e_zmag','e_zsp', 'e_zph',
                     'e_pmRA','e_pmDE','RAdeg', 'DEdeg'])

spies_c = spies.drop(columns = ['ra_x',
       'dec_x', 'errHalfMaj', 'errHalfMin', 'errPosAng','e_W1mag', 'e_W2mag',
       'e_W3mag', 'e_W4mag', 'e_Jmag', 'e_Hmag', 'e_Kmag','RAdeg', 'DEdeg',
       'errHalfMaj_x', 'errHalfMin_x', 'errPosAng_x', 'e_umag','e_gmag','e_rmag','e_imag','e_zmag','e_zsp', 'e_zph',
                     'e_pmRA','e_pmDE','W1mag', 'W2mag'])

In [7]:
first_c.rename(columns ={'ra_u':'RA','dec_u':'DEC','Jmag':'J_mag','Kmag':'K_mag','Class':'class'},inplace = True)

In [8]:
spies_c.rename(columns = {'G_MAG_AB':'G_mag','R_MAG_AB':'R_mag', 'Y_MAG_AB':'Y_mag', 'J_MAG_AB':'J_mag',
       'H_MAG_AB':'H_mag', 'K_MAG_AB':'K_mag','ch1_mag':'W1mag','ch2_mag':'W2mag'},inplace = True)

In [9]:
galaxy.rename(columns = {'December': 'DEC'},inplace = True)

In [10]:
f_s = pd.concat([spies_c,first_c])

In [11]:
f_s_c = f_s.drop(columns = ['Y_mag','H_mag','Jmag', 'Hmag', 'Kmag','ext_flg','r_2mass',
                   'zsp', 'f_zsp', 'zph', 'avg_zph','pmRA', 'pmDE', 'angDist_x','fpeak_u','fint_u','rmag','gmag'])

In [12]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [13]:
f_s_c.describe()

,counter,G_mag,R_mag,J_mag,K_mag,W1mag,W2mag,gj,rj,jk,...,objID,mode,class_x,flags,ObsDate,Q,umag,imag,zmag,SpObjID
count,231.00000,440.00000,440.00000,429.00000,440.00000,440.00000,440.00000,231.00000,231.00000,231.00000,...,440.00000,440.00000,440.00000,440.00000,440.00000,440.00000,440.00000,440.00000,440.00000,440.00000
mean,121.18182,22.79925,21.51493,19.06353,17.50228,16.66543,16.12041,3.29813,1.94598,1.10053,...,1237659168395882752.00000,1.64091,3.47727,1906697916076378.75000,2002.51380,2.77273,23.82290,20.53539,19.96456,109393960844698272.00000
std,70.66936,0.95655,0.94111,0.77973,1.19416,1.79079,2.24580,0.46682,0.41108,0.28857,...,6168163225937.60156,0.48028,1.09853,14063532886316578.00000,1.84952,0.58701,1.24549,0.82975,0.87924,805305094907043200.00000
min,2.00000,19.74073,18.63284,16.25200,13.39000,11.74400,10.64500,2.04061,1.50050,0.70346,...,1237645877943140608.00000,1.00000,3.00000,268435456.00000,1998.71670,1.00000,18.76600,18.00600,17.28900,0.00000
25%,59.50000,22.36024,21.16245,18.61700,16.50825,15.11200,14.19950,3.01728,1.65206,0.93771,...,1237654669069369600.00000,1.00000,3.00000,68987912960.00000,2001.14550,3.00000,22.91175,20.10075,19.55550,0.00000
50%,119.00000,22.87865,21.53590,19.21418,17.89172,16.97293,16.41712,3.26518,1.80920,1.05923,...,1237660224772342272.00000,2.00000,3.00000,35253360136208.00000,2002.82905,3.00000,23.71800,20.56200,19.95300,0.00000
75%,182.50000,23.33717,21.97872,19.67212,18.65466,18.35346,18.25728,3.56271,2.09075,1.21497,...,1237663505589715712.00000,2.00000,3.00000,263953926194850.00000,2003.80650,3.00000,24.69475,20.97050,20.33275,0.00000
max,243.00000,29.96000,29.77600,20.57677,18.89981,19.62744,19.59389,5.02965,3.41739,2.93105,...,1237676326577242624.00000,2.00000,6.00000,144238402399764480.00000,2007.88570,3.00000,27.31000,25.41300,28.55000,6170197397114384384.00000

In [14]:
f_s_c.rename(columns = {'umag':'U_mag','imag':'I_mag','zmag':'Z_mag'},inplace = True)

In [15]:
f_s_c = pd.concat([f_s_c,red_q])

In [16]:
f_s_c = pd.concat([f_s_c,galaxy])

In [17]:
f_s_c = f_s_c[['counter', 'RA', 'DEC', 'U_mag','G_mag', 'R_mag', 'I_mag', 'Z_mag','J_mag', 'K_mag', 'W1mag', 'W2mag','gj', 'rj',
       'jk', 'rk', 'Fpk', 'Hpk', 'redshift', 'specObjID', 'class', 'JNAME',
       'W3mag', 'W4mag', 'cntr', 'cc_flags', 'var_flg',
       'ph_qual', 'angDist', 'objID', 'mode', 'q_mode', 'class_x', 'SDSS12',
       'm_SDSS12', 'flags', 'ObsDate', 'Q',  
       'SpObjID', 'spType', 'spCl', 'subClass', 'data', 'designation',
       'spectrum']]

## Color Features

u,g,r,i,z,j,k, w1,w2

In [18]:
f_s_c['ug'] = f_s_c['U_mag'] - f_s_c['G_mag']
f_s_c['ur'] = f_s_c['U_mag'] - f_s_c['R_mag']
f_s_c['ui'] = f_s_c['U_mag'] - f_s_c['I_mag']
f_s_c['uz'] = f_s_c['U_mag'] - f_s_c['Z_mag']
f_s_c['uj'] = f_s_c['U_mag'] - f_s_c['J_mag']
f_s_c['uk'] = f_s_c['U_mag'] - f_s_c['K_mag']
f_s_c['uw1'] = f_s_c['U_mag'] - f_s_c['W1mag']
f_s_c['uw2'] = f_s_c['U_mag'] - f_s_c['W2mag']

f_s_c['gr'] = f_s_c['G_mag'] - f_s_c['R_mag']
f_s_c['gi'] = f_s_c['G_mag'] - f_s_c['I_mag']
f_s_c['gz'] = f_s_c['G_mag'] - f_s_c['Z_mag']
f_s_c['gj'] = f_s_c['G_mag'] - f_s_c['J_mag']
f_s_c['gk'] = f_s_c['G_mag'] - f_s_c['K_mag']
f_s_c['gw1'] = f_s_c['G_mag'] - f_s_c['W1mag']
f_s_c['gw2'] = f_s_c['G_mag'] - f_s_c['W2mag']

f_s_c['ri'] = f_s_c['R_mag'] - f_s_c['I_mag']
f_s_c['rz'] = f_s_c['R_mag'] - f_s_c['Z_mag']
f_s_c['rj'] = f_s_c['R_mag'] - f_s_c['J_mag']
f_s_c['rk'] = f_s_c['R_mag'] - f_s_c['K_mag']
f_s_c['rw1'] = f_s_c['R_mag'] - f_s_c['W1mag']
f_s_c['rw2'] = f_s_c['R_mag'] - f_s_c['W2mag']

f_s_c['iz'] = f_s_c['I_mag'] - f_s_c['Z_mag']
f_s_c['ij'] = f_s_c['I_mag'] - f_s_c['J_mag']
f_s_c['ik'] = f_s_c['I_mag'] - f_s_c['K_mag']
f_s_c['iw1'] = f_s_c['I_mag'] - f_s_c['W1mag']
f_s_c['iw2'] = f_s_c['I_mag'] - f_s_c['W2mag']


f_s_c['zj'] = f_s_c['Z_mag'] - f_s_c['J_mag']
f_s_c['zk'] = f_s_c['Z_mag'] - f_s_c['K_mag']
f_s_c['zw1'] = f_s_c['Z_mag'] - f_s_c['W1mag']
f_s_c['zw2'] = f_s_c['Z_mag'] - f_s_c['W2mag']


f_s_c['jk'] = f_s_c['J_mag'] - f_s_c['K_mag']
f_s_c['jw1'] = f_s_c['J_mag'] - f_s_c['W1mag']
f_s_c['jw2'] = f_s_c['J_mag'] - f_s_c['W2mag']

f_s_c['kw1'] = f_s_c['K_mag'] - f_s_c['W1mag']
f_s_c['kw2'] = f_s_c['K_mag'] - f_s_c['W2mag']


f_s_c['w1w2'] = f_s_c['W1mag'] - f_s_c['W2mag']

In [19]:
f_s_c.columns

Index(['counter', 'RA', 'DEC', 'U_mag', 'G_mag', 'R_mag', 'I_mag', 'Z_mag',
       'J_mag', 'K_mag', 'W1mag', 'W2mag', 'gj', 'rj', 'jk', 'rk', 'Fpk',
       'Hpk', 'redshift', 'specObjID', 'class', 'JNAME', 'W3mag', 'W4mag',
       'cntr', 'cc_flags', 'var_flg', 'ph_qual', 'angDist', 'objID', 'mode',
       'q_mode', 'class_x', 'SDSS12', 'm_SDSS12', 'flags', 'ObsDate', 'Q',
       'SpObjID', 'spType', 'spCl', 'subClass', 'data', 'designation',
       'spectrum', 'ug', 'ur', 'ui', 'uz', 'uj', 'uk', 'uw1', 'uw2', 'gr',
       'gi', 'gz', 'gk', 'gw1', 'gw2', 'ri', 'rz', 'rw1', 'rw2', 'iz', 'ij',
       'ik', 'iw1', 'iw2', 'zj', 'zk', 'zw1', 'zw2', 'jw1', 'jw2', 'kw1',
       'kw2', 'w1w2'],
      dtype='object')

In [20]:
class_cleaned = []
for i in f_s_c['class']:
    if i == 'QSO' or i == 'QSO?' or i == 'QSO??':
        class_cleaned.append('QSO')
    elif i =='?' or i =='??':
        class_cleaned.append('?')
    else:
        class_cleaned.append(i)
        
f_s_c['class_cleaned'] = class_cleaned

In [21]:
feature_cleaned = f_s_c[['data','RA', 'DEC', 'G_mag', 'R_mag', 'J_mag', 'K_mag','redshift','class','U_mag', 'I_mag', 'Z_mag','ug', 'ur', 'ui', 'uz', 'uj', 'uk', 'uw1', 'uw2', 'gr',
       'gi', 'gz', 'gk', 'gw1', 'gw2', 'ri', 'rz', 'rw1', 'rw2', 'iz', 'ij',
       'ik', 'iw1', 'iw2', 'zj', 'zk', 'zw1', 'zw2', 'jw1', 'jw2', 'kw1',
       'kw2', 'w1w2',
       'class_cleaned']]

In [22]:
f_s_c.to_csv('../data/features.csv')
feature_cleaned.to_csv('../data/feature_cleaned.csv')

## clean_class
- "none" and "no_obs" means these data points haven't have the spectral data yet

In [23]:
df_1 = pd.read_csv('../data/feature_cleaned.csv')

In [24]:
x = df_1[df_1['class_cleaned'] != 'none']
y = x[x['class_cleaned'] != 'no_obs']

In [25]:
y['class_cleaned'].unique()

array(['?', 'QSO', 'AGN', 'NL??', 'QSO/AGN', 'weak-det', 'NLAGN', 'star',
       'NLAGN?', 'NLAGN?no_obs', 'duplicate', 'Starb', 'redQSO', 'GALAXY',
       'absGAL'], dtype=object)

In [26]:
count_class = pd.DataFrame(y['class_cleaned'].value_counts()).reset_index()
count_class.rename(columns = {'index' : 'class_cleaned','class_cleaned':'occ'},inplace = True)

In [27]:
count_class

   class_cleaned  occ
0              ?   77
1            QSO   67
2         redQSO   63
3         GALAXY   46
4         absGAL   13
5          NLAGN    4
6       weak-det    2
7      duplicate    2
8        QSO/AGN    2
9            AGN    2
10  NLAGN?no_obs    1
11         Starb    1
12          star    1
13        NLAGN?    1
14          NL??    1

In [28]:
class_bin = []
for i in y['class_cleaned']:
    if i != 'QSO':
        class_bin.append(0)
    else:
        class_bin.append(1)
        
y['class_bin'] = class_bin

<ipython-input-28-ad7477b6d900>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y['class_bin'] = class_bin

In [29]:
final = y.reset_index().drop(columns = ['Unnamed: 0','class','index'])

In [30]:
final.to_csv('../data/train_qso.csv')

In [31]:
len(final)

283

# Getting rid of NAN

In [38]:
df = pd.read_csv('../data/train_qso.csv')

In [59]:
data = df[['index','ug', 'ur', 'ui', 'uz', 'uj', 'uk', 'uw1', 'uw2', 'gr',
       'gi', 'gz', 'gk', 'gw1', 'gw2', 'ri', 'rz', 'rw1', 'rw2', 'iz', 'ij',
       'ik', 'iw1', 'iw2', 'zj', 'zk', 'zw1', 'zw2', 'jw1', 'jw2', 'kw1',
       'kw2', 'w1w2','class_bin']]

In [60]:
def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    return df[indices_to_keep].astype(np.float64)

In [61]:
clean_dataset(data)

<ipython-input-60-19e362bcb334>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

,index,ug,ur,ui,uz,uj,uk,uw1,uw2,gr,...,zj,zk,zw1,zw2,jw1,jw2,kw1,kw2,w1w2,class_bin
0,1.00000,0.99140,2.67090,3.93600,4.60600,4.64006,5.57787,6.33186,6.79216,1.67950,...,0.03406,0.97187,1.72586,2.18616,1.69180,2.15210,0.75399,1.21429,0.46030,0.00000
1,2.00000,1.66960,2.79980,3.94600,4.65300,4.77483,5.71246,6.83926,7.14002,1.13020,...,0.12183,1.05946,2.18625,2.48702,2.06442,2.36518,1.12680,1.42756,0.30076,1.00000
2,3.00000,-0.06360,1.46670,2.52800,2.95100,3.48925,4.44637,3.78821,3.74721,1.53030,...,0.53825,1.49537,0.83721,0.79621,0.29896,0.25796,-0.65817,-0.69916,-0.04099,0.00000
3,4.00000,0.12510,1.78990,2.51200,2.80200,3.65763,4.72633,4.29163,4.35454,1.66480,...,0.85563,1.92433,1.48963,1.55254,0.63400,0.69691,-0.43471,-0.37179,0.06291,0.00000
4,5.00000,0.04280,1.46910,2.16500,2.48700,3.12021,4.25929,4.17710,4.23073,1.42630,...,0.63321,1.77229,1.69010,1.74373,1.05689,1.11052,-0.08220,-0.02857,0.05363,1.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,218.00000,2.85700,4.66200,5.76300,6.76600,8.60700,11.17200,11.94400,13.15400,1.80500,...,1.84100,4.40600,5.17800,6.38800,3.33700,4.54700,0.77200,1.98200,1.21000,0.00000
210,220.00000,1.64300,2.94500,3.46300,4.03500,5.49700,7.77800,9.64000,10.70200,1.30200,...,1.46200,3.74300,5.60500,6.66700,4.14300,5.20500,1.86200,2.92400,1.06200,0.00000
211,222.00000,1.01700,1.99300,2.12700,2.77600,4.07100,6.32200,7.94900,9.16200,0.97600,...,1.29500,3.54600,5.17300,6.38600,3.87800,5.09100,1.62700,2.84000,1.21300,0.00000
212,223.00000,1.71700,3.12200,3.67800,4.28900,5.47800,7.91300,9.29800,10.44300,1.40500,...,1.18900,3.62400,5.00900,6.15400,3.82000,4.96500,1.38500,2.53000,1.14500,0.00000
213,224.00000,1.60500,2.89900,3.58300,3.85000,5.23800,7.41900,8.88500,9.90100,1.29400,...,1.38800,3.56900,5.03500,6.05100,3.64700,4.66300,1.46600,2.48200,1.01600,0.00000

In [62]:
np.any(np.isnan(data[['ug', 'ur', 'ui', 'uz', 'uj', 'uk', 'uw1', 'uw2', 'gr',
       'gi', 'gz', 'gk', 'gw1', 'gw2', 'ri', 'rz', 'rw1', 'rw2', 'iz', 'ij',
       'ik', 'iw1', 'iw2', 'zj', 'zk', 'zw1', 'zw2', 'jw1', 'jw2', 'kw1',
       'kw2', 'w1w2','class_bin']]))

False

In [63]:
data

,index,ug,ur,ui,uz,uj,uk,uw1,uw2,gr,...,zj,zk,zw1,zw2,jw1,jw2,kw1,kw2,w1w2,class_bin
0,1,0.99140,2.67090,3.93600,4.60600,4.64006,5.57787,6.33186,6.79216,1.67950,...,0.03406,0.97187,1.72586,2.18616,1.69180,2.15210,0.75399,1.21429,0.46030,0
1,2,1.66960,2.79980,3.94600,4.65300,4.77483,5.71246,6.83926,7.14002,1.13020,...,0.12183,1.05946,2.18625,2.48702,2.06442,2.36518,1.12680,1.42756,0.30076,1
2,3,-0.06360,1.46670,2.52800,2.95100,3.48925,4.44637,3.78821,3.74721,1.53030,...,0.53825,1.49537,0.83721,0.79621,0.29896,0.25796,-0.65817,-0.69916,-0.04099,0
3,4,0.12510,1.78990,2.51200,2.80200,3.65763,4.72633,4.29163,4.35454,1.66480,...,0.85563,1.92433,1.48963,1.55254,0.63400,0.69691,-0.43471,-0.37179,0.06291,0
4,5,0.04280,1.46910,2.16500,2.48700,3.12021,4.25929,4.17710,4.23073,1.42630,...,0.63321,1.77229,1.69010,1.74373,1.05689,1.11052,-0.08220,-0.02857,0.05363,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,218,2.85700,4.66200,5.76300,6.76600,8.60700,11.17200,11.94400,13.15400,1.80500,...,1.84100,4.40600,5.17800,6.38800,3.33700,4.54700,0.77200,1.98200,1.21000,0
210,220,1.64300,2.94500,3.46300,4.03500,5.49700,7.77800,9.64000,10.70200,1.30200,...,1.46200,3.74300,5.60500,6.66700,4.14300,5.20500,1.86200,2.92400,1.06200,0
211,222,1.01700,1.99300,2.12700,2.77600,4.07100,6.32200,7.94900,9.16200,0.97600,...,1.29500,3.54600,5.17300,6.38600,3.87800,5.09100,1.62700,2.84000,1.21300,0
212,223,1.71700,3.12200,3.67800,4.28900,5.47800,7.91300,9.29800,10.44300,1.40500,...,1.18900,3.62400,5.00900,6.15400,3.82000,4.96500,1.38500,2.53000,1.14500,0
213,224,1.60500,2.89900,3.58300,3.85000,5.23800,7.41900,8.88500,9.90100,1.29400,...,1.38800,3.56900,5.03500,6.05100,3.64700,4.66300,1.46600,2.48200,1.01600,0

In [76]:
final = data.merge(df[['index','RA','DEC']],on = 'index')

In [77]:
final.dropna(inplace = True)

In [78]:
final.drop(columns ='index',inplace = True)
final['index'] = final.index+1

In [79]:
final

,ug,ur,ui,uz,uj,uk,uw1,uw2,gr,gi,...,zw2,jw1,jw2,kw1,kw2,w1w2,class_bin,RA,DEC,index
0,0.99140,2.67090,3.93600,4.60600,4.64006,5.57787,6.33186,6.79216,1.67950,2.94460,...,2.18616,1.69180,2.15210,0.75399,1.21429,0.46030,0,00:00:16.67,+00:05:22.5,1
1,1.66960,2.79980,3.94600,4.65300,4.77483,5.71246,6.83926,7.14002,1.13020,2.27640,...,2.48702,2.06442,2.36518,1.12680,1.42756,0.30076,1,00:15:13.51,-00:32:59.1,2
2,-0.06360,1.46670,2.52800,2.95100,3.48925,4.44637,3.78821,3.74721,1.53030,2.59160,...,0.79621,0.29896,0.25796,-0.65817,-0.69916,-0.04099,0,00:17:55.84,+00:50:47.5,3
3,0.12510,1.78990,2.51200,2.80200,3.65763,4.72633,4.29163,4.35454,1.66480,2.38690,...,1.55254,0.63400,0.69691,-0.43471,-0.37179,0.06291,0,00:20:54.03,+00:13:31.0,4
4,0.04280,1.46910,2.16500,2.48700,3.12021,4.25929,4.17710,4.23073,1.42630,2.12220,...,1.74373,1.05689,1.11052,-0.08220,-0.02857,0.05363,1,00:21:42.95,-00:06:07.2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,2.85700,4.66200,5.76300,6.76600,8.60700,11.17200,11.94400,13.15400,1.80500,2.90600,...,6.38800,3.33700,4.54700,0.77200,1.98200,1.21000,0,237.7616132,8.7336729,206
206,1.64300,2.94500,3.46300,4.03500,5.49700,7.77800,9.64000,10.70200,1.30200,1.82000,...,6.66700,4.14300,5.20500,1.86200,2.92400,1.06200,0,238.733069,7.235570699999999,207
207,1.01700,1.99300,2.12700,2.77600,4.07100,6.32200,7.94900,9.16200,0.97600,1.11000,...,6.38600,3.87800,5.09100,1.62700,2.84000,1.21300,0,311.60877830000004,0.3937948,208
208,1.71700,3.12200,3.67800,4.28900,5.47800,7.91300,9.29800,10.44300,1.40500,1.96100,...,6.15400,3.82000,4.96500,1.38500,2.53000,1.14500,0,331.443069,0.8886953000000002,209
209,1.60500,2.89900,3.58300,3.85000,5.23800,7.41900,8.88500,9.90100,1.29400,1.97800,...,6.05100,3.64700,4.66300,1.46600,2.48200,1.01600,0,334.1405222,-0.9143571,210

In [80]:
final.to_csv('../data/train_qso_wo_image.csv')

# Add Images to csv files

In [82]:
final['image_id'] = pd.Series(['001_000016.7+000523_K','002_001513.5-003259_K','003_001755.8+005047_K','004_002054.0+001331_K','005_002142.9-000607_K','006_002403.6-000422_K','007_003753.9-005152_K','008_004129.5+000801_K','009_004716.6+002250_K','010_004858.1-001535_K','011_005426.8+001439_K','012_015624.8-001459_K','013_015725.4-005115_K','014_015759.7-004239_K','015_015821.1+002753_K','016_015907.4-000028_K','017_015910.1+010127_K','018_015933.9+002231_K','019_020221.1-003040_K','020_020709.8+010000_K','021_020815.5+002421_K','022_020819.5+005258_K','023_020930.4+002400_K','024_021050.3+000936_K','025_021626.1-001301_K','026_021813.6+001326_K','027_021822.7+002539_K','028_021832.6+005149_K','029_022024.5+002000_K','030_220627.6+003332_K','031_220846.0+003744_K','032_221000.8+001147_K','033_221036.8-005717_K','034_221225.3-001908_K','035_221254.7-004952_K','036_221255.3+000108_K','037_221433.2-003356_K','038_221438.1+004909_K','039_221805.2-003207_K','040_221834.0-003142_K','041_221928.5+005719_K','042_221931.2+002630_K','043_222013.9+001148_K','044_222409.4-001524_K','045_222626.1-001328_K','046_222927.4+001956_K','047_223229.3+005216_K','048_223854.5-004649_K','049_224239.8-003848_K','050_224424.5+003814_K','051_224442.4+001356_K','052_224626.1+004808_K','053_224806.3+003311_K','054_225018.0-001213_K','055_225048.7-002818_K','056_225300.9+000613_K','057_225530.0-003907_K','058_230057.2+000307_K','059_230159.8+001428_K','060_230214.1+001202_K','061_230710.9+004922_K','062_230831.8-001843_K','063_231416.6+000614_K','064_231439.5+003814_K','065_231542.0+001304_K','066_231737.4+003609_K','067_232533.5+005659_K','068_232607.6+001749_K','069_233923.3+003820_K','070_234312.4+000217_K','071_234642.1+001207_K','072_234651.2+005037_K','073_235446.8-004418_K','074_235545.5-001122_K','075_235646.4-005622_K','076_235738.5+004542_K','077_090334.5+071118_K','078_090450.5-014525_K','079_091528.5+042921_K','080_091606.8+071059_K','081_091618.8+005134_K','082_092035.2+062152_K','083_092127.9+023627_K','084_092355.0+023553_K','085_092502.5+052842_K','086_092503.7+035434_K','087_092903.4+080442_K','088_094628.2+001714_K','089_094743.5+030205_K','090_094759.5-015045_K','091_094850.1+102851_K','092_095237.1+050200_K','093_095423.7+083659_K','094_095837.3+053815_K','095_100645.7+095239_K','096_100957.7+073812_K','097_102139.1+090523_K','098_102253.7+051658_K','099_102834.2+031103_K','100_103301.9+020325_K','101_103716.6+021243_K','102_103753.4+023636_K','103_110419.1+040451_K','104_110531.6+075912_K','105_111531.7+071603_K','106_111745.2+024556_K','107_112514.4+032756_K','108_113513.6+053308_K','109_113626.4-005339_K','110_114148.7+135645_K','111_115127.5+144425_K','112_115942.1+121717_K','113_120907.5+145302_K','114_121527.7+071757_K','115_122057.4+094316_K','116_123445.3+011248_K','117_123729.2+103728_K','118_124056.5+111751_K','119_124323.7+102344_K','120_125114.2+071552_K','121_125633.7+040247_K','122_130100.7+004748_K','123_130256.9-005738_K','124_131638.7+145821_K','125_132219.0+094838_K','126_132754.7+122309_K','127_133720.3-004303_K','128_134335.9+085442_K','129_135039.3+130728_K','130_135419.0+001153_K','131_140724.2+124648_K','132_141625.0+040055_K','133_141811.0+083457_K','134_142447.1+091759_K','135_143323.1+085252_K','136_143404.6+093529_K','137_143921.0+113606_K','138_144141.1+110853_K','139_144141.1+110853_K','140_145055.4+063016_K','141_145410.8+041820_K','142_145742.0+033639_K','143_145939.7+060427_K','144_150351.2+121148_K','145_150731.2+101650_K','146_150958.1+112438_K','147_151021.2+041940_K','148_151318.2-004803_K','149_151353.2+073919_K','150_151720.5+095210_K','151_151758.8+010157_K','152_151957.2-023441_K','153_152147.0-021337_K','154_152553.8-004552_K','155_152928.0+083643_K','156_153636.5+062523_K','157_153724.1-010850_K','158_003659.8-011333_K','159_004331.4-001527_K','160_004341.3+005253_K','161_012702.5+011412_K','162_032247.3+000326_K','163_033248.5-001012_K','164_084110.3+060204_K','165_092533.7+021343_K','166_093100.8+014819_K','167_094400.6+055109_K','168_100424.9+122923_K','169_102342.1+121623_K','170_102433.0+053825_K','171_110621.7+022125_K','172_111244.8+153439_K','173_113427.1+100113_K','174_114420.3+113501_K','175_115449.3+112706_K','176_120416.9+090224_K','177_121128.0+095527_K','178_121426.4+143843_K','179_122016.9+112628_K','180_123241.1+111259_K','181_124212.1+044042_K','182_124704.9+010627_K','183_124847.2+053131_K','184_125041.4+131854_K','185_125212.9+071505_K','186_125915.1+072948_K','187_131327.5+145339_K','188_132210.2+084233_K','189_132510.3+131241_K','190_133939.6+033110_K','191_134039.7+051420_K','192_134151.1+083513_K','193_135304.2+023012_K','194_135947.4+103319_K','195_143921.0+113605_K','196_143929.9+085846_K','197_144809.5+054019_K','198_145237.3+085056_K','199_145810.3+063440_K','200_150013.4+123645_K','201_150357.1+041856_K','202_150746.1+093731_K','203_152255.6+030211_K','204_153206.3+061638_K','205_153334.2+073506_K','206_155102.8+084401_K','207_155455.9+071408_K','208_204626.1+002338_K','209_220546.3+005319_K','210_221633.7-005452_K'])

In [83]:
final

,ug,ur,ui,uz,uj,uk,uw1,uw2,gr,gi,...,jw1,jw2,kw1,kw2,w1w2,class_bin,RA,DEC,index,image_id
0,0.99140,2.67090,3.93600,4.60600,4.64006,5.57787,6.33186,6.79216,1.67950,2.94460,...,1.69180,2.15210,0.75399,1.21429,0.46030,0,00:00:16.67,+00:05:22.5,1,001_000016.7+000523_K
1,1.66960,2.79980,3.94600,4.65300,4.77483,5.71246,6.83926,7.14002,1.13020,2.27640,...,2.06442,2.36518,1.12680,1.42756,0.30076,1,00:15:13.51,-00:32:59.1,2,002_001513.5-003259_K
2,-0.06360,1.46670,2.52800,2.95100,3.48925,4.44637,3.78821,3.74721,1.53030,2.59160,...,0.29896,0.25796,-0.65817,-0.69916,-0.04099,0,00:17:55.84,+00:50:47.5,3,003_001755.8+005047_K
3,0.12510,1.78990,2.51200,2.80200,3.65763,4.72633,4.29163,4.35454,1.66480,2.38690,...,0.63400,0.69691,-0.43471,-0.37179,0.06291,0,00:20:54.03,+00:13:31.0,4,004_002054.0+001331_K
4,0.04280,1.46910,2.16500,2.48700,3.12021,4.25929,4.17710,4.23073,1.42630,2.12220,...,1.05689,1.11052,-0.08220,-0.02857,0.05363,1,00:21:42.95,-00:06:07.2,5,005_002142.9-000607_K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,2.85700,4.66200,5.76300,6.76600,8.60700,11.17200,11.94400,13.15400,1.80500,2.90600,...,3.33700,4.54700,0.77200,1.98200,1.21000,0,237.7616132,8.7336729,206,206_155102.8+084401_K
206,1.64300,2.94500,3.46300,4.03500,5.49700,7.77800,9.64000,10.70200,1.30200,1.82000,...,4.14300,5.20500,1.86200,2.92400,1.06200,0,238.733069,7.235570699999999,207,207_155455.9+071408_K
207,1.01700,1.99300,2.12700,2.77600,4.07100,6.32200,7.94900,9.16200,0.97600,1.11000,...,3.87800,5.09100,1.62700,2.84000,1.21300,0,311.60877830000004,0.3937948,208,208_204626.1+002338_K
208,1.71700,3.12200,3.67800,4.28900,5.47800,7.91300,9.29800,10.44300,1.40500,1.96100,...,3.82000,4.96500,1.38500,2.53000,1.14500,0,331.443069,0.8886953000000002,209,209_220546.3+005319_K
209,1.60500,2.89900,3.58300,3.85000,5.23800,7.41900,8.88500,9.90100,1.29400,1.97800,...,3.64700,4.66300,1.46600,2.48200,1.01600,0,334.1405222,-0.9143571,210,210_221633.7-005452_K

In [84]:
final.to_csv('../data/train_qso_w_image.csv')