In [13]:
import pandas as pd
import numpy as np

In [14]:
new = pd.read_csv('../data/raw/W2M-red_quasars.csv')
df = pd.read_csv('../data/train_qso.csv')

In [15]:
df

,Unnamed: 0,data,RA,DEC,G_mag,R_mag,J_mag,K_mag,redshift,U_mag,...,zk,zw1,zw2,jw1,jw2,kw1,kw2,w1w2,class_cleaned,class_bin
0,0,SpIES,00:00:16.67,+00:05:22.5,23.35760,21.67810,19.708937,18.771132,999.0,24.349,...,0.971868,1.725862,2.186161,1.691799,2.152098,0.753994,1.214293,0.460299,?,0
1,1,SpIES,00:15:13.51,-00:32:59.1,22.56440,21.43420,19.459167,18.521544,0.832,24.234,...,1.059456,2.186255,2.487017,2.064422,2.365184,1.126799,1.427561,0.300762,QSO,1
2,2,SpIES,00:17:55.84,+00:50:47.5,23.13460,21.60430,19.581750,18.624626,999.0,23.071,...,1.495374,0.837207,0.796212,0.298957,0.257962,-0.658167,-0.699162,-0.040995,?,0
3,3,SpIES,00:20:54.03,+00:13:31.0,23.20390,21.53910,19.671373,18.602667,999.0,23.329,...,1.924333,1.489627,1.552540,0.634000,0.696913,-0.434706,-0.371793,0.062913,?,0
4,4,SpIES,00:21:42.95,-00:06:07.2,22.91020,21.48390,19.832794,18.693705,2.1,22.953,...,1.772295,1.690098,1.743727,1.056892,1.110521,-0.082197,-0.028568,0.053629,QSO,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,156,FIRST,230.937775,8.142239,24.35768,23.59506,NaN,16.990000,-1.0,24.094,...,4.682000,6.858000,8.207000,NaN,NaN,2.176000,3.525000,1.349000,?,0
157,157,FIRST,231.474106,-0.764342,22.61378,21.60162,18.927000,15.936000,0.65,24.688,...,4.113000,6.201000,7.607000,5.079000,6.485000,2.088000,3.494000,1.406000,QSO,1
158,158,FIRST,232.366806,8.611883,23.78472,22.15773,18.643000,16.181000,1.29,24.262,...,3.967000,6.224000,7.725000,4.719000,6.220000,2.257000,3.758000,1.501000,QSO,1
159,159,FIRST,234.152176,6.422978,22.17300,20.99600,18.516000,16.593000,-1.0,26.529,...,2.726000,3.826000,4.389000,3.023000,3.586000,1.100000,1.663000,0.563000,?,0
160,160,FIRST,234.350342,-1.147317,22.93707,21.72570,18.162000,16.367000,0.593,24.661,...,3.542000,5.002000,5.897000,3.255000,4.150000,1.460000,2.355000,0.895000,NLAGN,0

In [16]:
count_class = pd.DataFrame(new['class_cleaned'].value_counts()).reset_index()
count_class.rename(columns = {'index' : 'class_cleaned','class_cleaned':'occ'},inplace = True)

In [17]:
count_class

   class_cleaned  occ
0           none  155
1         no_obs  124
2              ?   77
3            QSO   67
4          NLAGN    4
5            AGN    2
6        QSO/AGN    2
7       weak-det    2
8      duplicate    2
9           NL??    1
10          star    1
11        NLAGN?    1
12  NLAGN?no_obs    1
13         Starb    1