In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/train_qso.csv')

In [3]:
df

,Unnamed: 0,data,RA,DEC,G_mag,R_mag,J_mag,K_mag,redshift,U_mag,...,zk,zw1,zw2,jw1,jw2,kw1,kw2,w1w2,class_cleaned,class_bin
0,0,SpIES,00:00:16.67,+00:05:22.5,23.3576,21.6781,19.708937,18.771132,999.0,24.349,...,0.971868,1.725862,2.186161,1.691799,2.152098,0.753994,1.214293,0.460299,?,0
1,1,SpIES,00:15:13.51,-00:32:59.1,22.5644,21.4342,19.459167,18.521544,0.832,24.234,...,1.059456,2.186255,2.487017,2.064422,2.365184,1.126799,1.427561,0.300762,QSO,1
2,2,SpIES,00:17:55.84,+00:50:47.5,23.1346,21.6043,19.581750,18.624626,999.0,23.071,...,1.495374,0.837207,0.796212,0.298957,0.257962,-0.658167,-0.699162,-0.040995,?,0
3,3,SpIES,00:20:54.03,+00:13:31.0,23.2039,21.5391,19.671373,18.602667,999.0,23.329,...,1.924333,1.489627,1.552540,0.634000,0.696913,-0.434706,-0.371793,0.062913,?,0
4,4,SpIES,00:21:42.95,-00:06:07.2,22.9102,21.4839,19.832794,18.693705,2.1,22.953,...,1.772295,1.690098,1.743727,1.056892,1.110521,-0.082197,-0.028568,0.053629,QSO,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,219,red_QSO,238.733069,7.2355706999999985,20.5390,19.2370,16.685000,14.404000,0.34700000000000003,22.182,...,3.743000,5.605000,6.667000,4.143000,5.205000,1.862000,2.924000,1.062000,QSO,1
220,220,red_QSO,239.7190962,15.508807199999998,18.5910,17.5960,15.417000,13.539000,0.26,19.465,...,3.065000,4.616000,5.514000,3.429000,4.327000,1.551000,2.449000,0.898000,QSO,1
221,221,red_QSO,311.6087783000001,0.3937948,18.9880,18.0120,15.934000,13.683000,0.33203,20.005,...,3.546000,5.173000,6.386000,3.878000,5.091000,1.627000,2.840000,1.213000,QSO,1
222,222,red_QSO,331.443069,0.8886953000000002,19.5480,18.1430,15.787000,13.352000,0.28451,21.265,...,3.624000,5.009000,6.154000,3.820000,4.965000,1.385000,2.530000,1.145000,QSO,1
223,223,red_QSO,334.1405222,-0.9143571,19.5500,18.2560,15.917000,13.736000,0.2,21.155,...,3.569000,5.035000,6.051000,3.647000,4.663000,1.466000,2.482000,1.016000,QSO,1

In [4]:
count_class = pd.DataFrame(df['class_cleaned'].value_counts()).reset_index()
count_class.rename(columns = {'index' : 'class_cleaned','class_cleaned':'occ'},inplace = True)

In [5]:
count_class

   class_cleaned  occ
0            QSO  130
1              ?   77
2          NLAGN    4
3       weak-det    2
4        QSO/AGN    2
5            AGN    2
6      duplicate    2
7          Starb    1
8           star    1
9         NLAGN?    1
10          NL??    1
11  NLAGN?no_obs    1